@using ContentModels = Umbraco.Web.PublishedModels;

<header class="masthead" style="background: url(@Model.Mask.Url), url(@Model.TopImage.Url)">
	<div class="transparent-title">@Model.Name</div>
</header>