<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/favicon.ico">
	<title>Pricing example for Bootstrap</title>
	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="pricing.css" rel="stylesheet">
</head>
<body>
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow">
		<div class="my-0 mr-md-auto font-weight-normal d-inline">
			<h5>Home Match</h5>
			<p>The HomeMatch ethos is to use innovation to create solutions in the relocation market place.</p>
		</div>
		<nav class="my-2 my-md-0 mr-md-3">
			<div class="text-right">
				<a class="p-2 text-dark" href="tel:0163537210">01635 37210</a>
				<a class="p-2 text-dark" href="#">Client login</a>
			</div>
			<a class="p-2 text-dark" href="#">About Us</a>
			<a class="p-2 text-dark" href="#">Services</a>
			<a class="p-2 text-dark" href="#">Area Information</a>
			<a class="p-2 text-dark" href="#">Web Design</a>
			<a class="p-2 text-dark" href="#">Contact Us</a>
		</nav>
	</div>

	<!-- Full Page Image Header with Vertically Centered Content -->
	<header class="masthead">
		<div class="container h-100">
			<div class="row h-100 align-items-center">
				<div class="col-12 text-center">
					<h1 class="font-weight-light">Vertically Centered Masthead Content</h1>
					<p class="lead">A great starter layout for a landing page</p>
				</div>
			</div>
		</div>
	</header>


	<div class="container">
		<div class="row">
			<div class="my-0 mx-auto py-5">
				<h1>Providing cost effective solutions in relocation</h1>
			</div>
		</div>
		<div class="row py-5 text-center">
			<div class="col-4 my-0 mx-auto">
				<div>Icon 1</div>
			</div>
			<div class="col-4 my-0 mx-auto">
				Icon 2
			</div>
			<div class="col-4 my-0 mx-auto">
				Icon 3
			</div>
		</div>
		<div class="row">
			<div class="my-0 mx-auto pb-5">
				<button type="button" class="btn btn-lg btn-block btn-outline-primary">How can we help</button>
			</div>
		</div>
	</div>
	<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">SERVICES</h1>
		<p class="lead">Lorem ipsum dolor sit amet, consecteur adispicing elit. Nunc ficiliss fucibus veilt, ac ultrices quam intreum et.</p>
	</div>
	<div class="container">
		<div class="card-deck mb-3 text-center">
			<div class="card mb-4 box-shadow">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">Area Guides</h4>
				</div>
				<div class="card-body">
					<p class="mt-3 mb-4">
						Whether you are looking for a one off
						bespoke solution for a relocating
						employee or central online resource..
					</p>
					<div class="text-right">
						<a class="p-2 text-dark" href="#">></a>
					</div>
				</div>
			</div>
			<div class="card mb-4 box-shadow">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">Group Moves</h4>
				</div>
				<div class="card-body">
					<p class="mt-3 mb-4">
						Let us analyse which site least impacts
						your employees and saves you relocation
						costs whilst meeting your requirements....
					</p>
					<div class="text-right">
						<a class="p-2 text-dark" href="#">></a>
					</div>
				</div>
			</div>
			<div class="card mb-4 box-shadow">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">Mortgage Analysis</h4>
				</div>
				<div class="card-body">
					<p class="mt-3 mb-4">
						Our highly sophisticated 'Home Match System’
						enables us to accurately profile like for like
						locations across the UK..
					</p>
					<div class="text-right">
						<a class="p-2 text-dark" href="#">></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="my-0 mx-auto py-5">
				<button type="button" class="btn btn-lg btn-block btn-outline-primary">How can we help</button>
			</div>
		</div>
	</div>

	<div container="container-fluid">
		<footer class="pt-4 my-md-5 pt-md-5 border-top text-center">
			<div class="row no-gutters pb-5 pt-3">
				<div class="mx-auto col-12">
					<small><a class="p-2 text-muted" href="tel:0163537210">01635 37210</a></small>
					<small><a class="p-2 text-muted" href="#">Client login</a></small>
				</div>

			</div>

			<div class="row no-gutters">
				<div class="my-0 mr-xl-auto col-12 col-xl-4 d-block">
					<small class="d-block mb-3 text-muted">&copy; 2019 HomeMatch is a trading name of ARC Propery Group, registered company no. 01815688</small>
				</div>
				<div class="my-0 mx-xl-auto mx-auto col-12 col-xl-4">
					<ul class="list-unstyled text-small d-inline-flex ">
						<li><a class="p-2 text-muted" href="#">About Us</a></li>
						<li><a class="p-2 text-muted" href="#">Services</a></li>
						<li><a class="p-2 text-muted" href="#">Area Information</a></li>
						<li><a class="p-2 text-muted" href="#">Web Design</a></li>
						<li><a class="p-2 text-muted" href="#">Contact Us</a></li>
					</ul>
				</div>
				<div class="my-0 ml-xl-auto mx-auto col-12 col-xl-4 text-center">
					<div class="d-inline-flex">
						<small class="">
							<a class="p-2 text-muted" href="#">University House, Oxford Square, Newbury, Berkshire, RG14 1JQ</a>
						</small>
					</div>
					<ul class="d-inline-flex">
						<li><small class=""><a class="p-2 text-muted" href="tel:0163537210">Tel: 01635 37210</a></small></li>
						<li><small class=""><a class="p-2 text-muted" href="#">Fax: 01635 517 516</a></small></li>
						<li><small class=""><a class="p-2 text-muted" href="#">Registration No. 5824956</a></small></li>
					</ul>
				</div>
			</div>

		</footer>
	</div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="/js/vendor/jquery-slim.min.js"><\/script>')</script>
	<script src="/js/vendor/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/vendor/holder.min.js"></script>
	<script>
		Holder.addTheme('thumb', {
			bg: '#55595c',
			fg: '#eceeef',
			text: 'Thumbnail'
		});
	</script>
</body>
</html>
